.MovieDetail {
    font-family: 'Rubik', sans-serif;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .MovieDetail h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .MovieDetail h3 {
    margin-top: 0;
    color: #6d1dbf;
  }
  
  .MovieDetail p {
    font-size: 18px;
    color: #555;
    margin: 12px 0;
  }
  
  .MovieDetail .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px; 
  }
  
  .MovieDetail .edit-button,
  .MovieDetail .delete-button {
    flex: 1;
    display: inline-block;
    padding: 10px 0;
    background-color: #9127e4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .MovieDetail .edit-button:hover,
  .MovieDetail .delete-button:hover {
    background-color: #6d1dbf; /* Darker shade on hover */
  }
  