.MovieEditForm {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Rubik', sans-serif;
  }
  
  .MovieEditForm h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .MovieEditForm form {
    display: grid;
    gap: 10px;
  }
  
  .MovieEditForm label {
    font-weight: bold;
    text-align: left;
  }
  
  .MovieEditForm input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .MovieEditForm button[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .MovieEditForm button[type="submit"]:hover {
    background-color: #0056b3;
  }
  