/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Delicious+Handrawn&family=Gochi+Hand&family=Rubik&display=swap');

.App {
  text-align: center;
}

/* Style for the NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: white;
  color: #333;
  box-shadow: 0px 2px 4px rgba(4, 4, 16, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-family: 'Delicious Handrawn', cursive;
  width: 100%;
}

/* Style for the main content */
main {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}

/* Style for the Routes container */
.Routes {
  width: 100%;
}

/* Specific styles for links */
.links h1,
.links button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease, font-size 0.3s ease, text-shadow 0.3s ease;
  font-family: 'Delicious Handrawn', cursive;
  text-decoration: none !important;
  margin-bottom: 10px;
}

/* Hover effect for links */
.links button:hover,
.links h1:hover {
  font-size: 26px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Apply hover effect to home link */
.logo-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
